In [1]:
import pandas as pd

In [2]:
wcattendance = pd.read_csv("world_cup copy.csv")

In [3]:
wcattendance.head()

,Year,Host,Teams,Champion,Runner-Up,TopScorrer,Attendance,AttendanceAvg,Matches
0,2022,Qatar,32,Argentina,France,Kylian Mbappé - 8,3404252,53191,64
1,2018,Russia,32,France,Croatia,Harry Kane - 6,3031768,47371,64
2,2014,Brazil,32,Germany,Argentina,James Rodríguez - 6,3429873,53592,64
3,2010,South Africa,32,Spain,Netherlands,"Wesley Sneijder, Thomas Müller... - 5",3178856,49670,64
4,2006,Germany,32,Italy,France,Miroslav Klose - 5,3352605,52384,64

In [8]:
world_cup_clean = wcattendance.drop(columns=["Host", "Champion", "Runner-Up", "TopScorrer", "Attendance", "Matches"])
world_cup_clean

    Year  Teams  AttendanceAvg
0   2022     32          53191
1   2018     32          47371
2   2014     32          53592
3   2010     32          49670
4   2006     32          52384
5   2002     32          42271
6   1998     32          45367
7   1994     24          68991
8   1990     24          48389
9   1986     24          46039
10  1982     24          40572
11  1978     16          40679
12  1974     16          49099
13  1970     16          50124
14  1966     16          48848
15  1962     16          27912
16  1958     16          23423
17  1954     16          29562
18  1950     15          47511
19  1938     16          20872
20  1934     16          21353
21  1930     13          32808

In [9]:
world_cup_clean.to_html("wcattendance.html")